*{
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    --primary: rgb(70, 70, 70);
    --secondary: rgb(219, 24, 24);
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
}

.header, .footer{
    height: 60px;
    background-color: var(--secondary);
}

.header{
    display: flex;
    justify-content: center;
    gap: 20px;
}

button{
    margin-top: 10px;
    padding: 0px 20px;
    border-radius: 8px 8px 0 0;
    background-color: var(--primary);
    border: none;
}

.home{
    background-color: black;
    color: var(--secondary);
}

.main{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.content{  
    display: flex;
    justify-content: center;
    align-items: center;
}

.mediumHome, .mediumMenu, .mediumContact{
    background-color: var(--primary);
    width: max(80%, 800px);
    border-radius: 16px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 100px;
    margin: 40px 0;
}

.mediumHome{
    display: flex;
    height: 100vh;
}

.name, .descriptionBox, .hoursBox, .locationBox, .drinks, .drinkBox, .foods, .foodBox{
    width: max(100%, 750px);
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    border: 10px solid var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1{
    text-align: center;
    font-size: 2.5rem;
}

h2{
    font-size: 1.5rem;
}

.hoursBox div, .locationBox div{
    text-align: center;
    padding-bottom: 10px;
}

img{
    border-radius: 8px;
}

.mediumHome img{
    height: 300px;
    width: 500px;
}

.drinks, .foods{
    width: max(50%, 375px);
}

.mediumMenu img {
    width: 250px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.mediumMenu .name{
    margin-top: -39px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}